{% load static %}
<link rel="stylesheet" href="{% static 'users/table.css' %}">
{% if error %}
<p>Error fetching Crowd users: {{ error }}</p>
{% endif %}
<table class="table">
    <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Employed</th>
        <th>In Crowd</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.username }}</td>
        <td>{{ emp.full_name }}</td>
        <td>{{ emp.is_employed }}</td>
        <td>{% if emp.in_crowd %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
</table>
