{% extends "users/base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">Error fetching Crowd users: {{ error }}</div>
{% endif %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Employee ID</th>
        <th>Department</th>
        <th>Employed</th>
        <th>In Crowd</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td><a href="{% url 'employee_detail' emp.employee_id %}">{{ emp.username }}</a></td>
        <td>{{ emp.full_name }}</td>
        <td>{{ emp.employee_id }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.is_employed }}</td>
        <td>{% if emp.in_crowd %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<nav>
  <ul class="pagination">
    {% if employees.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ employees.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    <li class="page-item disabled"><span class="page-link">{{ employees.number }} / {{ employees.paginator.num_pages }}</span></li>
    {% if employees.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ employees.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
