{% extends "users/base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">Error fetching Crowd users: {{ error }}</div>
{% endif %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Username</th>
        <th>Employed</th>
    </tr>
    {% for user in users %}
    <tr{% if not user.employed %} class="table-danger"{% endif %}>
        <td>{{ user.username }}</td>
        <td>{% if user.employed %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
