{% extends "users/base.html" %}
{% block content %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Employee ID</th>
        <th>Department</th>
        <th>Employed</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.username }}</td>
        <td>{{ emp.full_name }}</td>
        <td>{{ emp.employee_id }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.is_employed }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
